
/**
 * Aggressive resets so we can achieve a consistent look in
 * hostile CSS environments.
 */
div.admin-links,
div#admin-toolbar,
div#admin-toolbar * {
  margin:0px;
  padding:0px;
  border:0px;
  outline:0px;
  font-size:100%;
  vertical-align:baseline;
  line-height:inherit;
  text-align:left;  
}

/**
 * Inline/contextual tools
 */
div.block,
div.node,
div.view,
div.view-data-node-body { position:relative; }

div.block div.view { position:static; }

div.admin-inline { display:none; }

div.admin-border {
  opacity:.25;
  position:absolute;
  left:-10px;
  right:-10px;
  top:-10px;
  bottom:-10px;
  height:10px;
  width:10px;
  background:#666;
  }

  div.admin-border-top {
    left:0px; right:0px;
    width:auto;
    bottom:auto;
    }

  div.admin-border-bottom {
    left:0px; right:0px;
    width:auto;
    top:auto;
    }

  div.admin-border-left {
    height:auto;
    right:auto;

    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius-:5px;
    }

  div.admin-border-right {
    height:auto;
    left:auto;

    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius-:5px;
    }

div.admin-links {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-topright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-top-right-radius:5px;

  font:normal 11px/20px "Lucida Grande",Verdana,sans-serif !important;
  background:#444 url(sprite.png) 0px -110px repeat-x !important;

  position:absolute;
  top:-25px;
  right:0px;

  z-index:100;
  height:25px;
  line-height:25px;
  overflow:hidden;
  }

  div.view:hover div.node div.admin-inline,
  div.block:hover div.node div.admin-inline { display:none; }

  div.view:hover div.node:hover div.admin-inline,
  div.block:hover div.node:hover div.admin-inline { display:block; }

  div.view:hover div.admin-inline,
  div.block:hover div.admin-inline,
  div.node:hover div.admin-inline { display:block; }

div.admin-links a,
div.admin-links a:hover {
  background-color:transparent !important;
  background-image:url(sprite.png);
  background-repeat:no-repeat;
  background-position:25px 25px;

  color:#fff !important;
  text-transform:none !important;
  font-weight:normal !important;
  font-style:normal !important;
  float:left !important;
  padding:0px 10px 0px 25px;
  line-height:25px !important;
  }

  div.admin-links a.icon-delete { background-position:-215px -135px; }
  div.admin-links a.icon-edit { background-position:-215px -160px; }

/**
 * Base styles
 */
div#admin-toolbar {
  font:normal 11px/20px "Lucida Grande",Verdana,sans-serif;
  background:url(sprite.png) 0px -20px repeat-x;
  color:#ccc;
  position:relative;
  z-index:100;
  }

div#admin-toolbar .collapsed { display:none; }  

div#admin-toolbar div.shadow {
  position:absolute;
  left:0px;
  right:0px;
  bottom:-10px;
  height:10px;

  background:url(sprite.png) 0px -100px repeat-x;
  }

div#admin-toolbar a {
  text-decoration:none;
  color:#fff;
  }

div#admin-toolbar ul.links li,
div#admin-toolbar ul.links li a { float:left; }

/**
 * First level menus
 */
div#admin-toolbar div.depth-0 {
  overflow:hidden;
  height:20px;
  line-height:20px;
  padding:5px 10px;
  }

div#admin-toolbar div.depth-0 #admin-toolbar-admin { float:left; }
div#admin-toolbar div.depth-0 #admin-toolbar-user { float:right; }

div#admin-toolbar div.depth-0 ul.links li a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:0px 10px;
  }

div#admin-toolbar div.depth-0 ul.links li a.active {
  text-shadow:#333 0px 1px 0px;
  background:url(sprite.png) 0px 0px repeat-x;
  }

/**
 * Second level menus
 */
div#admin-toolbar div.depth-1 {
  position:relative;
  padding:0px 10px;
  }

div#admin-toolbar div.depth-1 span.close {
  position:absolute;
  top:10px;
  right:10px;

  cursor:pointer;
  background:url(sprite.png) 0px -135px no-repeat;
  text-indent:-9999px;
  overflow:hidden;

  width:15px;
  height:15px;
  }

div#admin-toolbar div.depth-1 ul.links {
  padding:5px 0px;
  height:40px;
  line-height:30px;
  overflow:hidden;
  float:left;
  }

div#admin-toolbar div.depth-1 ul.links li a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:5px 10px 5px 5px;
  margin-right:5px;
  }

div#admin-toolbar div.depth-1 ul.links li a.active {
  background-color:#333;
  }

div#admin-toolbar div.depth-1 span.icon {
  float:left;

  width:30px;
  height:30px;
  margin-right:5px;
  }

ul.menu span.icon,
ul.admin-list span.icon,

ul.links span.icon { background:transparent url(icons.png) -30px 0px no-repeat; }

div.depth-1 span.icon { background:transparent url(icons.png) 0px 0px no-repeat; }

.path-admin-content-add span.icon { background-position:-60px 0px !important; }

.path-admin-content-node span.icon { background-position:-90px 0px !important; }

.path-admin-settings-date-time span.icon { background-position:-120px 0px !important; }

.path-admin-settings-filters span.icon { background-position:-30px -60px !important; }

.path-admin-content-node-settings span.icon { background-position:0px -150px !important; }

.path-admin-build-translate span.icon,
.path-admin-settings-language span.icon { background-position:0px -60px !important; }

.path-admin-settings-performance span.icon { background-position:-30px -90px !important; }

.path-admin-reports-search span.icon,
.path-admin-settings-search span.icon { background-position:-30px -30px !important; }

.path-admin-settings-site-maintenance span.icon { background-position:-90px -90px !important; }

.path-admin-settings-site span.icon { background-position:-60px -90px !important; }

.path-admin-build-menu span.icon { background-position:-150px 0px !important; }

.path-admin-content-book span.icon { background-position:-180px 0px !important; }

.path-admin-content-comment span.icon { background-position:-210px 0px !important; }

.path-admin-content-types span.icon { background-position:-120px -30px !important; }

.path-admin-content-taxonomy span.icon { background-position:-180px -30px !important; }

.path-admin-settings-mailhandler span.icon,
.path-admin-content-mailhandler span.icon { background-position:-210px -30px !important; }

.path-admin-settings-feedapi span.icon,
.path-admin-content-feed span.icon,
.path-admin-content-rss-publishing span.icon { background-position:-150px -30px !important; }

.path-admin-build-block span.icon { background-position:-210px -90px !important; }

.path-admin-settings-image-toolkit span.icon,
.path-admin-settings-imageapi span.icon,
.path-admin-build-imagecache span.icon { background-position:-120px -60px !important; }

.path-admin-build-features span.icon,
.path-admin-build-modules span.icon { background-position:-180px -90px !important; }

.path-admin-build-themes span.icon { background-position:-120px -90px !important; }

.path-admin-settings-actions span.icon,
.path-admin-build-trigger span.icon { background-position:-180px -120px !important; }

.path-admin-build-views span.icon { background-position:-210px -60px !important; }

.path-admin-settings-uploads span.icon { background-position:-90px -60px !important; }

.path-admin-reports-access-denied span.icon { background-position:-90px -30px !important; }

.path-admin-reports-page-not-found span.icon { background-position:-30px -150px !important; }

.path-admin-reports-status span.icon { background-position:-60px -30px !important; }

.path-admin-user-rules span.icon { background-position:0px -120px !important; }

.path-admin-user-permissions span.icon { background-position:-30px -120px !important; }

.path-admin-user-roles span.icon { background-position:-60px -120px !important; }

.path-admin-user-user span.icon { background-position:-90px -120px !important; }

.path-admin-user-settings span.icon { background-position:-150px -120px !important; }

.path-admin-settings-logging span.icon { background-position:-150px -60px !important; }

.path-admin-reports-updates span.icon { background-position:-150px -90px !important; }

.path-admin-reports-dblog span.icon { background-position:-210px -120px !important; }

